body{
  height: 900px;
}
.nav-bar{
  background-color: #696969;
  height: 50px;
}
#news{
  padding: 50px;
  background-color: white;
}
#driver{
  padding: 50px;
  background-color: #C0C0C0;
}
#passenger{
  padding: 50px;
  background-color: white;
}
#about{
  padding: 50px;
  background-color: #c0c0c0;
}
.dark-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:15px;

}
a.active{
  margin-top: 10px;
  padding: 20px;
  line-height: 1.5;
  color: yellow;
}
.login{height: 600px;
  background-image:url(../architecture-asphalt-blur-462867.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
img{
  height: 90px;
  padding-left: 100px;
}
img.images{
  padding: 20px;
}
